@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,100&display=swap');

:root {
	--body-color: #F5F7FB;
	--primary-color: #5D7CE9;
	--secondary-color: #434C7F;
	--grey-color: #9CA0BA;
	--white-color: #E4E8EE;
	--alternative-color: #E5E8EE;
	--alternative-checked-color: #95D6A2;
	--alternative-letter-checked-color: #317245;
	--backbutton-color: #6687F4;
	--backbutton-bgcolor: #6687F435;
	--nextbutton-bgcolor: #6687F4;
	--default-font: 'Poppins', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
	cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
	cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
	border-radius: 1rem;
	cursor: pointer;
}

*{ padding: 0; margin: 0; box-sizing: border-box; transition: all ease .3s; }
html, body{width: 100vw; height: 100vh; overflow: hidden; font-family: var(--default-font);}
main{
	width: 100%;
	min-height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
body{
	background-color: var(--body-color);
}
a{
	text-decoration: none;
	display: inline-block;
}
code{
	border-radius: .5rem;
  margin-top: 2rem;
	margin-bottom: -1rem;
	display: block;
  width: 100%;
	padding: 1rem 1.5rem !important;
}
.back a{
	color: var(--backbutton-color);
	padding: .5rem 1rem;
	border-radius: .25rem;
	font-weight: bold;
	font-size: 1.25rem;
	cursor: pointer;
	background-color: var(--backbutton-bgcolor);
}
.next a{
	color: white;
	padding: .85rem 2rem;
	border-radius: .5rem;
	font-weight: bold;
	min-width: max-content;
	cursor: pointer;
	background-color: var(--nextbutton-bgcolor);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.action a{display: flex; align-items: center; justify-content: center; gap: .5rem; color: white}
.explanation-answer a{color: var(--primary-color)}
.container{
	width: 100%;
	max-width: 1200px;
	height: calc(100vh - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.baunceAnimation{
	animation: bounce .3s infinite alternate;
}

@keyframes bounce {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}
